.app {
  text-align: center;
}

.appLogo {
  height: 10vmin;
  pointer-events: none;
  position: fixed;
  top:0;
  left:0;
}

.topNavBar {
  padding: 20px;
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 600px;
}

.topNavBar .links {
  margin-left: auto;
  padding: 6px;
}

.topNavBar a {
  margin-left: 16px;
  padding: 6px;
  color: #36454F;
}

.topNavBar a:hover {
  color: red
}
