.appLogo {
  height: 10vmin;
  pointer-events: none;
  position: fixed;
  top:0;
  left:0;
}

.filterButton{
  display: inline;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-bottom: 20px;
  width: 90%;

}

.filterButtonDiv{
  display: block;
}

.flightPreview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid lightgrey;
}

.homePageContent {
  display: flex;
  
  .sideNavBar {
    width: 20%;
    border-style: solid;
    margin: 20px;
    text-align: center;
    padding-top: 20px;
  }
  
  .flightsTable {
    width: 80%;
    border-style: solid;
    margin: 20px;
    padding-top: 20px;
    text-align: center;
  }
}

.selectedButton {
  background-color: lightblue;
}

.topNavBar {
  padding: 20px;
  align-items: right;
  display: flex;
  margin: 0 88%;
  max-width: 600px;
  
  .links {
    margin-left: 100%;
    padding: 6px;
  }
  
  a {
    margin-left: 16px;
    padding: 6px;
    color: #36454F;

    &:hover {
    color: red;
    }
  }
}

.unselectedButton {
  background-color: white;
}


