.appLogo {
  height: 10vmin;
  pointer-events: none;
  position: fixed;
  top:0;
  left:0;
}

.filterButton{
  padding: 20px;
}

.flightPreview {
  padding: 10px 16px;
  mergin: 20px 0;
  border-bottom: 1px solid lightgrey;
}

.homePageContent {
  display: flex;
}

.homePageContent .sideNavBar {
  flex: 20%;
  border-style: solid;
  margin: 20px;
  text-align: center;
}

.homePageContent .flightsTable {
  flex: 80%;
  border-style: solid;
  margin: 20px;
  text-align: center;
}

.topNavBar {
  padding: 20px;
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 600px;
}

.topNavBar .links {
  margin-left: auto;
  padding: 6px;
}

.topNavBar a {
  margin-left: 16px;
  padding: 6px;
  color: #36454F;
}

.topNavBar a:hover {
  color: red
}
