.app-logo {
  height: 10vmin;
  pointer-events: none;
  position: fixed;
  top:0;
  left:0;
}

.filter-button{
  display: inline;
  padding: 2rem;
  border-radius: 8rem;
  margin-bottom: 2rem;
  width: 90%;

}

.filter-button-div{
  display: block;
}

.flight-preview {
  padding: 1rem;
  border: 1px solid lightgrey;
}

.home-page-content {
  display: flex;
  
  .side-nav-bar {
    width: 20%;
    border-style: solid;
    margin: 2rem;
    text-align: center;
    padding-top: 1rem;
  }
  
  .flights-table {
    width: 80%;
    border-style: solid;
    margin: 2rem;
    padding-top: 1rem;
    text-align: center;
  }
}

.selected-button {
  background-color: lightblue;
}

.top-nav-bar {
  padding: 1rem;
  align-items: right;
  display: flex;
  margin: 0 88%;
  
  .links {
    margin-left: 100%;
  }
  
  a {
    margin-left: 1rem;
    padding: 1 rem;
    color: #36454F;

    &:hover {
    color: red;
    }
  }
}

.unselected-button {
  background-color: white;
}


